{% load static %}

<nav class="navbar fixed-top navbar-expand-lg py-3 navbar-dark bg-transparent shadow-sm justify-content-between">
        <a href="/" class="navbar-brand">
            <span class="text-santuy text-uppercase font-weight-bold" style="color: #F1A350;">Hello World</span>
        </a>

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler"></span></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link" style="color: #F1A350; font-weight: bold; ">Welcome</a></li>
                <li class="nav-item"><a href="education" class="nav-link" style="color: #000000;  ">Education</a></li>
                <li class="nav-item"><a href="#" class="nav-link" style="color: #000000;  ">Experiences</a></li>
                <li class="nav-item"><a href="#" class="nav-link" style="color: #000000;  ">Projects</a></li>
                <li class="nav-item"><a href="#" class="nav-link" style="color: #000000;  ">Contact</a></li>
            </ul>
        </div>
</nav>

<!-- /.container -->