{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Hello World 
    </title>   

    <link rel="shortcut icon" href="{% static 'img/coding.png' %}" type="image/x-icon">

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    {% include "snippets/styles.html" %}

    {% block style %}
    {% endblock style %}

    <link href="https://fonts.googleapis.com/css?family=B612&display=swap" rel="stylesheet">
    
    <script src="{% static "js/index.js" %}"></script>
    <script src=""https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js""></script>
</head>

<body>

    {% include "snippets/navbar.html" %}
    <div class="body container">
        {% block content %} {% endblock content %}
    </div>
    {% include "snippets/scripts.html" %}


</body>


</html>