{% extends 'base.html' %} {% load static %} {% block style %}
 <link rel="stylesheet" href="{% static "css/homepage.css" %}"> 
 <link rel="stylesheet" href="{% static "css/experiences.css" %}"> 
 <link rel="stylesheet" href="{% static "css/project.css" %}"> 

 {% endblock style %} {% block content %}

<div class="main-container row justify-content-center">
  <img
    class="logo-online"
    src="{% static 'img/logo-home.png' %}"
    alt="logo home"
  />

  <div class="about-container col-sm">
    <h1>Hi, I'm <span>Ari</span></h1>

    <h4>I’m your Future <span>Software Engineer</span></h4>
    <p>
      Extremely motivated to constantly develop my skills and grow in Software
      Engineering especially Web and Android Development. <br /><br />Love to
      learn something new and learn from other people.
    </p>
  </div>
</div>

<div class="education-container row justify-content-center">
  <h1 class="education-title">Education</h1>

  <div class="about-education-container row">
    <div class="kotak-edu col">
      <img
        class="education-logo"
        src="{% static 'img/logo-fasilkom.png' %}"
        alt="Logo Fasilkom"
      />
    </div>
    <div class="kotak-edu about-education col">
      <h2>Faculty of Computer Science</h2>

      <h2>
        Universitas Indonesia <span class="italic">(2018 - present)</span>
      </h2>

      <h3>Relevant Coursework :</h3>
      <p>
        Structure Data & Algorithm, Web Programming and Design, Advance
        Programming, Database, Foundation of Programming, 1 and 2, Operating
        System, Statistics and Probability, Discrete Mathematics 1 and 2, Linear
        Algebra
      </p>
    </div>
  </div>
</div>

<div class="experiences-container experiences">
  <h1 class="ex-title">Experiences</h1>

  <div class="container">
    <div class="row justify-content-center">
      <div class="my-card col-11 col-sm">
        <img
          class="logo"
          src="{% static 'img/ristek.png' %}"
          alt="Logo ristek"
        />
        <h4>Ristek Fasilkom UI</h4>
        <p class="jabatan">Senior Member - Mobile Development</p>
        <p class="tanggal">(Feb 2020 - Present)</p>
        <p class="keterangan">
          Be a part of a community of 10 students with enthusiasm in Mobile
          Application Development. The group aims learning through projects and
          competitions to get the most hands-on experiences
        </p>
      </div>
      <div class="my-card col-11 col-sm">
        <img
          class="logo logo-imami"
          src="{% static 'img/imami.png' %}"
          alt="Logo ristek"
        />
        <h4>IMAMI UI</h4>
        <p class="jabatan">Communication and Information</p>
        <p class="tanggal">(Feb 2020 - Present)</p>
        <p class="keterangan">
          Be a part of a community of 10 students with enthusiasm in Mobile
          Application Development. The group aims learning through projects and
          competitions to get the most hands-on experiences
        </p>
      </div>
      <div class="my-card col-11 col-sm card-compfest">
        <img
          class="logo logo-compfest"
          src="{% static 'img/compfest.png' %}"
          alt="Logo ristek"
        />
        <h4>COMPFEST XI</h4>
        <p class="jabatan">Software Engineering Academy</p>
        <p class="tanggal">(Apr 2019 - Sept 2019)</p>
        <p class="keterangan">
          Manage an Academy with the team consist of 14 students that discuss
          about Software Engineering Culture and cooperate with GO-JEK as a
          Official Partner.. The Academy is a part of COMPFEST XI
        </p>
      </div>
    </div>
  </div>
</div>

<div class="project-container">
  <h1 class="project-title">Here is My Projects</h1>

  <div class="container">
      <div class="row justify-content-center">
        <img class="project-img col-sm-11 col-lg-5" src="{% static 'img/myacademia.png' %}" alt="My Academia">
        <div class="content col-sm-11 col-lg-7">
          <h3>MyAcademia Website</h3>
          <div class="button-container">
            <button type="button" class="my-btn btn btn-light">Spring Boot</button>
            <button type="button" class="my-btn btn btn-light">Design Pattern</button>
            <button type="button" class="my-btn btn btn-light">Clean Code</button>
            <button type="button" class="my-btn btn btn-light">Microservices</button>
          </div>
          <p>Final project for Advance Programming in Faculty of Computer Science Universitas Indonesia. Applying Design
            Pattern like Composite Pattern. This website using Microservice Architecture and applying Clean Code so the code
            can be easily maintenance and anyone who read the code can understand the code and what the code do</p>
            <div class="link-container">
              <img class="baris kecil" src="{% static 'img/internet.png' %}" alt="My Academia">
              <a class="baris my-link" target="__blank" href="http://myacademia.herokuapp.com/">myacademia.herokuapp.com</a>
              <br class="my-break">
              <img class="baris kecil" src="{% static 'img/github.png' %}" alt="My Academia">
              <a class="baris my-link" target="__blank" href="https://github.com/nugrahaa878/my-academia">github.com/nugrahaa878/</a>
            </div>
        </div>
      </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <img class="project-android col-sm-11 col-lg-5" src="{% static 'img/android1.png' %}" alt="My Academia">
      <div class="content content-android col-sm-11 col-lg-7">
        <h3>My Framework List</h3>
        <div class="button-container">
          <button type="button" class="my-btn btn btn-light">Android Studio</button>
          <button type="button" class="my-btn btn btn-light">Kotlin</button>
        </div>
        <p>Project that required to complete online course by Dicoding “Belajar Fundamental Aplikasi Android”. Implementing
          fundamentals of building mobile app with Kotlin such as Layout, View, pattern like MVP dan MVVM, Database, using
          library like Room and Retrofit, Testing, Notification, Shared Preference and much more that I learn in this course.</p>
          <div class="link-container">
            <img class="baris kecil" src="{% static 'img/github.png' %}" alt="My Github User">
            <a class="baris my-link" target="__blank" href="https://github.com/nugrahaa878/mygithubuser">github.com/nugrahaa878/</a>
          </div>
      </div>
    </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <img class="project-img col-sm-11 col-lg-5" src="{% static 'img/imami-web.png' %}" alt="My Academia">
    <div class="content col-sm-11 col-lg-7">
      <h3>IMAMI UI Website</h3>
      <div class="button-container">
        <button type="button" class="my-btn btn btn-light">Django</button>
        <button type="button" class="my-btn btn btn-light">Bootstrap</button>
        <button type="button" class="my-btn btn btn-light">HTML</button>
        <button type="button" class="my-btn btn btn-light">CSS</button>
        <button type="button" class="my-btn btn btn-light">JS</button>
      </div>
      <p>Lead the development of a website with the team consist of 5 students. The purpose of the website is to show more
        about Ikatan Mahasiswa Minang UI (IMAMI UI) and activities or event that held by IMAMI UI to other people so they
        can know more about Minang Culture.</p>
        <div class="link-container">
          <img class="baris kecil" src="{% static 'img/internet.png' %}" alt="My IMAMI">
          <a class="baris my-link" target="__blank" href="http://imamiui.herokuapp.com/">imamiui.herokuapp.com</a>
          <br class="my-break">
          <img class="baris kecil" src="{% static 'img/github.png' %}" alt="My Academia">
          <a class="baris my-link" target="__blank" href="https://github.com/nugrahaa878/imami-website">github.com/nugrahaa878/</a>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <img class="project-img col-sm-11 col-lg-5" src="{% static 'img/finance.png' %}" alt="My Academia">
    <div class="content col-sm-11 col-lg-7">
      <h3>My Finance App</h3>
      <div class="button-container">
        <button type="button" class="my-btn btn btn-light">Functional</button>
        <button type="button" class="my-btn btn btn-light">Haskell</button>
        <button type="button" class="my-btn btn btn-light">React Hook</button>
        <button type="button" class="my-btn btn btn-light">AWS</button>
        <button type="button" class="my-btn btn btn-light">Lambda</button>
      </div>
      <p>Final project for Functional Programming Course in Fasilkom UI. Implement functional programming to count Net Present Value. Using AWS Lambda as serverless computation and create API Gateway in AWS. Implement react hook in front end so keep using functional paradigm when change the state in react</p>
        <div class="link-container">
          <img class="baris kecil" src="{% static 'img/internet.png' %}" alt="My IMAMI">
          <a class="baris my-link" target="__blank" href="http://myfinance-234.herokuapp.com/">myfinance-234.herokuapp.com</a>
          <br class="my-break">
          <img class="baris kecil" src="{% static 'img/github.png' %}" alt="My Academia">
          <a class="baris my-link" target="__blank" href="https://github.com/nugrahaa878/FinanceApp">github.com/nugrahaa878/</a>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <img class="project-img col-sm-11 col-lg-5" src="{% static 'img/fullroom.png' %}" alt="My Academia">
    <div class="content col-sm-11 col-lg-7">
      <h3>Full Room</h3>
      <div class="button-container">
        <button type="button" class="my-btn btn btn-light">Artificial Intelligence</button>
        <button type="button" class="my-btn btn btn-light">CSP</button>
        <button type="button" class="my-btn btn btn-light">Covid-19</button>
      </div>
      <p>Final project for Artificial Intelligence Course. Implement CSP Algorithm to count how many maximal people so we can put them in a room with keep social distancing. User can set the room with grid UI and they can set how many people they want to put in the custom room.</p>
        <div class="link-container">
          <img class="baris kecil" src="{% static 'img/internet.png' %}" alt="My IMAMI">
          <a class="baris my-link" target="__blank" href="http://full-room.herokuapp.com/">full-room.herokuapp.com</a>
          <br class="my-break">
          <img class="baris kecil" src="{% static 'img/github.png' %}" alt="My Academia">
          <a class="baris my-link" target="__blank" href="https://github.com/nugrahaa878/full-room">github.com/nugrahaa878/</a>
        </div>
    </div>
  </div>
</div>

</div>

{% endblock content %}
